
.aboutme {
    width: 60%;
    text-align: justify;
    color: aliceblue;
    font-family: 'Dancing Script';
    margin-left: 20%;
}

.tittleAbout {
    font-family: 'Dancing Script';
    margin-bottom: 0rem !important; 
}

h3 {
    font-size: 1.92rem;
    line-height: 110%;
    margin: 0.9466666667rem 0 1.168rem 0;
}