#imageProfile {
    max-width: 45%;
    border-radius: 50%;
    max-height: 10rem;
 
}

#containerHome {
    margin: initial;
}

.tec {
    font-family: 'Dancing Script', cursive !important;
    color: rgb(255, 255, 255) !important;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}